{
  "MONPEYA_API_URL": "http://10.0.2.2:8081",
  "IMMO_API_URL": "http://10.0.2.2:8082",
  "IMMO_WS_URL": "ws://10.0.2.2:8082/ws/realtime",
  "BILLETTERIE_API_URL": "http://10.0.2.2:8090",
  "BILLETTERIE_TRANSPORT_API_URL": "",
  "BILLETTERIE_EVENT_API_URL": "",
  "BILLETTERIE_WS_URL": "ws://10.0.2.2:8090/ws",
  "GRENIER_API_URL": "http://10.0.2.2:8083",
  "GRENIER_WS_URL": "ws://10.0.2.2:8083/ws/realtime",

  "SIM_API_URL": "https://protect.mysimassurances.com/api/partner/v1",
  "SIM_API_KEY": "",
  "SIM_WEBHOOK_SECRET": "",

  "PEYAPAY_API_URL": "https://test1-pey-peya.djogana-pay.com",
  "PEYAPAY_CRYPTO_URL": "https://djoganapayci.com/api10/peya-2.0/ncg",
  "PEYAPAY_USE_PROD": "false",
  "PEYAPAY_TOKEN_ENDPOINT": "/authclient/token",
  "PEYAPAY_APP_TOKEN": "",
  "PEYAPAY_APP_USERNAME": "",
  "PEYAPAY_APP_PASSWORD": "",
  "ENCRYPT_KEY": "",
  "QR_ENCRYPT_KEY": "",

  "MAPBOX_ACCESS_TOKEN": "",

  "FORCE_GUEST_MODE": "false",
  "SKIP_FORCED_AUTH": "false"
}
